<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="MailFromAddress" value="from_mail_example@gmail.com" />
      <add key="MailFromPass" value="from_mail_pass" />
      <add key="bizportalUrlAPI" value="https://www.bizportal.co.il/forex/quote/ajaxrequests/paperdatagraphjson?period=weekly&amp;paperID=" />
      <add key="ChangeToAlertOn" value="20" />
      <add key="FinnhubAPIkey" value="finnhubKey_get_yours_on_https://finnhub.io/" />
    </appSettings>
</configuration>